<h1>Pirates</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
</div><br>


<h2>Ships</h2>
<%=@ships.each do |ship|%>
Name: <%= ship.name %>
Type: <%= ship.type %>
Booty: <%= ship.booty %>
<%= end %>